@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    * {
        transition: all 0.3s;
    }
    body {
        color: #faf4f4;
        background-color: #faf4f4;
        position: relative;
        min-height: 100vh;
    }
    html {
        font-family: "Oxanium", "Montserrat", "Arial", "sans-serif";
    }
}